<div class="notInterested">

</div>

<ul id="ourContent" class="icons-ul">
        <li><i class="icon-li icon-ok"></i>Embedded icon using the &lt;i&gt; tag</li>
        <li><i class="icon-li icon-ok"></i>Doesn't work with background-image</li>
        <li><i class="icon-li icon-ok"></i>We can use the :before psuedo class</li>
        <li><i class="icon-li icon-ok"></i>Works in IE8+, FireFox 21+, Chrome 26+, Safari 5.1+, most mobile browsers</li>
        <li><i class="icon-li icon-ok"></i>See <a href="http://caniuse.com/#search=before">CanIUse.com</a> for browser support</li>
    </ul>

    <ol>
        <li>Banana</li>
        <li>Pine Apple</li>
    </ol>
    